# Housing Days On Market - Data preparation for Analysis and Modeling 

## Information

The features gathered from different sources were combined and wrangled using SQLite and python and placed in SQLite database. ‘Raw_Data.csv‘is the output of these compiled and wrangled data, it originally has 51,720 instances. 

This jupyter notebook inspect and cleans the compiled raw dataset (Raw_Data.csv) further to make it ready for modeling and analysis. We have changed the list date and close dates to date time data type; converted features to integer or floats; removed instances with missing features; label encoded categorical features, and limited the instances to be from list date -January 2011 to December 2014 to align all of the features in our dataset. 

‘df_4.csv’ is the output of the inspection and cleaning with 11,361 instances and 117 features. 


### Environment Information:

Environment used for coding is as follow:

Python 3.5

####  Contributor= Sabel Kassa

## Python Package(s) Used

In [1]:
import datetime as dt
import numpy as np
import pandas as pd

## Data and Methods

### Data Fetching

In [2]:
# Read the data into a DataFrame
df = pd.read_csv('Raw_Data.csv', sep=',')

In [3]:
df_2 = df.copy()

### Data Exploration

In [4]:
df_2.head()

,field1,Stat,ML#,Address,ListDate,CloseDate,ListPrice2,ClosePrice2,Bedrooms,BathsFull,...,distance_metro_station_km,distance_public_school_arts_center_km,distance_public_school_edu_campus_km,distance_public_school_elem_km,distance_public_school_elem_specialized_km,distance_public_school_high_km,distance_public_school_high_specialized_km,distance_public_school_mid_km,distance_public_school_special_ed_km,distance_public_school_ye_km
0,0,Sold,DC8350571DC8350571,0 13th St Ne,8/25/2014,9/23/2014,129500,101500,0,0,...,0.908139,6.066857,1.569866,0.246691,0.941411,0.752273,1.952753,0.856554,2.716954,1.266789
1,1,Sold,DC7871952DC7871952,0 Bancroft Pl Nw,8/23/2012,8/23/2012,1350000,1350000,1,1,...,0.585583,1.672948,0.859555,0.877221,4.443701,1.984123,1.825034,0.509664,8.227556,2.992777
2,2,Sold,DC7900075DC7900075,0 Ordway St Nw,10/1/2012,10/1/2012,1350000,1350000,1,1,...,0.453602,2.338570,3.362695,0.419288,6.795651,1.935496,2.572075,2.073705,10.284938,3.128425
3,3,Sold,DC8159945DC8159945,1 14th St NE #1,9/14/2013,10/7/2013,409000,399999,1,1,...,0.749937,6.219920,1.609352,0.380806,1.089199,0.507624,1.793762,0.635073,2.480900,1.061354
4,4,Sold,DC8071369DC8071369,1 18th St SE #104,6/24/2013,6/26/2013,309000,309000,2,2,...,0.237703,6.558243,1.595559,0.728877,1.501572,0.089036,1.488465,0.292928,1.943540,0.742454

In [5]:
# Summary statistics for the numerical columns in the dataset
df_2.describe()

C:\Users\Sabelgk\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,field1,ListPrice2,ClosePrice2,Bedrooms,BathsFull,BathsHalf,Levels,Fireplaces,Acres,YearBuilt,...,distance_metro_station_km,distance_public_school_arts_center_km,distance_public_school_edu_campus_km,distance_public_school_elem_km,distance_public_school_elem_specialized_km,distance_public_school_high_km,distance_public_school_high_specialized_km,distance_public_school_mid_km,distance_public_school_special_ed_km,distance_public_school_ye_km
count,51720.000000,5.172000e+04,5.172000e+04,51720.000000,51720.000000,51686.000000,51720.000000,51720.000000,51720.000000,51720.000000,...,51720.000000,51720.000000,51720.000000,51720.000000,51720.000000,51720.000000,51720.000000,51720.000000,51720.000000,51720.000000
mean,25859.500000,5.941136e+05,5.837170e+05,2.546597,1.862993,0.427853,2.194896,0.500058,0.158931,1944.769490,...,0.934919,3.904951,3.110597,0.587605,4.720319,1.753671,2.427882,1.423762,7.129592,2.566715
std,14930.422298,6.146612e+05,5.685863e+05,1.810038,1.558560,0.576548,1.194914,0.970395,16.101331,35.907639,...,0.922146,2.833179,2.168527,0.935478,2.611760,1.336448,1.828431,1.244943,3.197940,1.743987
min,0.000000,3.500000e+03,1.600000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1500.000000,...,0.007529,0.064884,0.050924,0.026028,0.049827,0.050290,0.051260,0.039308,0.048518,0.035250
25%,12929.750000,2.997488e+05,2.960000e+05,2.000000,1.000000,NaN,1.000000,0.000000,0.000000,1920.000000,...,0.427794,1.944445,1.470731,0.334081,2.830309,0.995747,1.203709,0.809021,4.830432,1.337003
50%,25859.500000,4.500000e+05,4.500000e+05,2.000000,2.000000,NaN,2.000000,0.000000,0.019000,1938.000000,...,0.739595,3.074504,2.790029,0.502244,4.474053,1.481780,1.984513,1.246538,7.233633,2.229815
75%,38789.250000,6.999990e+05,7.100000e+05,3.000000,2.000000,NaN,3.000000,1.000000,0.055000,1966.000000,...,1.282949,5.406588,4.261700,0.743346,6.528254,2.374408,3.454222,1.778298,9.155497,3.689664
max,51719.000000,2.800000e+07,2.455969e+07,99.000000,99.000000,11.000000,25.000000,99.000000,2742.000000,2016.000000,...,77.464207,100.560050,101.916954,97.890601,106.178879,100.093426,100.398765,100.347563,110.044586,104.207287

In [6]:
# Dataset information
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51720 entries, 0 to 51719
Columns: 120 entries, field1 to distance_public_school_ye_km
dtypes: float64(64), int64(29), object(27)
memory usage: 47.4+ MB

## Convert list date and close date to date time data type

In [7]:
# Separate out year, month, and day from ListDate and CloseDate
df_2['CloseDate_dt'] = pd.to_datetime(df_2['CloseDate'])
df_2['CloseDate_dt_year'] = df_2['CloseDate_dt'].dt.year
df_2['CloseDate_dt_month'] = df_2['CloseDate_dt'].dt.month
df_2['CloseDate_dt_day'] = df_2['CloseDate_dt'].dt.day
df_2['ListDate_dt'] = pd.to_datetime(df_2['ListDate'])
df_2['ListDate_dt_year'] = df_2['ListDate_dt'].dt.year
df_2['ListDate_dt_month'] = df_2['ListDate_dt'].dt.month
df_2['ListDate_dt_day'] = df_2['ListDate_dt'].dt.day

In [8]:
#Converting the closed date and list date from date time to integer so we can be abel to analyze it
df_2['CloseDate_all']=1000*df_2['CloseDate_dt_year']+100*df_2['CloseDate_dt_month']+df_2['CloseDate_dt_day']
df_2['ListDate_all']=1000*df_2['ListDate_dt_year']+100*df_2['ListDate_dt_month']+df_2['ListDate_dt_day']
df_2.head()

,field1,Stat,ML#,Address,ListDate,CloseDate,ListPrice2,ClosePrice2,Bedrooms,BathsFull,...,CloseDate_dt,CloseDate_dt_year,CloseDate_dt_month,CloseDate_dt_day,ListDate_dt,ListDate_dt_year,ListDate_dt_month,ListDate_dt_day,CloseDate_all,ListDate_all
0,0,Sold,DC8350571DC8350571,0 13th St Ne,8/25/2014,9/23/2014,129500,101500,0,0,...,2014-09-23,2014,9,23,2014-08-25,2014,8,25,2014923,2014825
1,1,Sold,DC7871952DC7871952,0 Bancroft Pl Nw,8/23/2012,8/23/2012,1350000,1350000,1,1,...,2012-08-23,2012,8,23,2012-08-23,2012,8,23,2012823,2012823
2,2,Sold,DC7900075DC7900075,0 Ordway St Nw,10/1/2012,10/1/2012,1350000,1350000,1,1,...,2012-10-01,2012,10,1,2012-10-01,2012,10,1,2013001,2013001
3,3,Sold,DC8159945DC8159945,1 14th St NE #1,9/14/2013,10/7/2013,409000,399999,1,1,...,2013-10-07,2013,10,7,2013-09-14,2013,9,14,2014007,2013914
4,4,Sold,DC8071369DC8071369,1 18th St SE #104,6/24/2013,6/26/2013,309000,309000,2,2,...,2013-06-26,2013,6,26,2013-06-24,2013,6,24,2013626,2013624

In [9]:
# Drop original Date columns and the columns we have changed to date since we have a date column.
df_2 = df_2.drop(u'CloseDate', axis = 1)
df_2 = df_2.drop(u'ListDate', axis = 1)

## Date used for analysis and modeling (2010-2014)

In [10]:
# Set date range for analysis and modelling
df_2 = df_2[(df_2['ListDate_dt_year'] >= 2010) & (df_2['CloseDate_dt_year'] <= 2014)]

In [11]:
df_3 = df_2.copy()

In [12]:
df_3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26746 entries, 0 to 51718
Data columns (total 128 columns):
field1                                        int64
Stat                                          object
ML#                                           object
Address                                       object
ListPrice2                                    int64
ClosePrice2                                   int64
Bedrooms                                      int64
BathsFull                                     int64
BathsHalf                                     float64
Levels                                        int64
Fireplaces                                    int64
BasementY/N                                   object
Acres                                         float64
YearBuilt                                     int64
DOMP                                          int64
TotalTaxes2                                   float64
TaxTotalLivingArea                            object
Zip                                           int64
SaleCount                                     int64
IndexMonth                                    object
IndexMonth_CloseDate                          object
IndexMonth2                                   object
IndexMonth_ListDate                           object
IndexYear_CloseDate                           int64
IndexYear_ListDate                            int64
IndexMonth_No_CloseDate                       int64
IndexMonth_No_ListDate                        int64
MedianValuePerSqft                            float64
PctOfHomesDecreasingInValues                  float64
PctOfHomesIncreasingInValues                  float64
Turnover                                      float64
Zhvi                                          float64
PriceIndex                                    float64
FreddieMac15yr                                float64
FreddieMac5yrARM                              float64
mimi                                          float64
mimiStatus                                    object
PropertyCrimes                                float64
ViolentCrimes                                 float64
Pct16andOverEmployed_2010_14                  float64
AvgFamilyIncAdj_2010_14                       float64
Pct25andOverWoutHS_2010_14                    float64
PctFamiliesOwnChildrenFH_2010_14              float64
PctForeignBorn_2010_14                        float64
PctHshldCar_2010_14                           float64
PctHshldPhone_2010_14                         float64
PctOwnerOccupiedHsgUnits_2010_14              float64
PctPoorChildren_2010_14                       float64
PctPoorElderly_2010_14                        float64
PctPoorPersons_2010_14                        float64
PctUnemployed_2010_14                         float64
PctVacantHsgUnitsForRent_2010_14              float64
PropertyLatitude                              float64
PropertyLongitude                             float64
ES_AvgStandardScore                           float64
ES_IsCharter                                  object
ES_IsMagnet                                   object
ES_IsTitleI                                   object
ES_IsTitleI.1                                 object
ES_IsVirtual                                  object
ES_NumFTTeachers                              float64
ES_NumStudents                                float64
ES_PerTwoOrMoreRaces                          float64
ES_Rank                                       float64
ES_SDStarRating                               float64
ES_StudentTeachRatio                          float64
HS_AvgStandardScore                           float64
HS_IsCharter                                  object
HS_IsMagnet                                   object
HS_IsTitleI                                   object
HS_IsTitleI.1                                 object
HS_IsVirtual                                  object
HS_NumFTTeachers                              float64
HS_NumStudents                                float64
HS_PerTwoOrMoreRaces                          float64
HS_Rank                                       float64
HS_SDStarRating                               float64
HS_StudentTeachRatio                          float64
MS_AvgStandardScore                           float64
MS_IsCharter                                  object
MS_IsMagnet                                   object
MS_IsTitleI                                   object
MS_IsTitleI.1                                 object
MS_IsVirtual                                  object
MS_NumFTTeachers                              float64
MS_NumStudents                                float64
MS_PerTwoOrMoreRaces                          float64
MS_Rank                                       float64
MS_SDStarRating                               float64
MS_StudentTeachRatio                          float64
count_cap_gain_school_km                      int64
count_grocery_km                              int64
count_ind_school_km                           int64
count_metro_bus_km                            int64
count_metro_station_km                        int64
count_public_school_arts_center_km            int64
count_public_school_edu_campus_km             int64
count_public_school_elem_km                   int64
count_public_school_elem_specialized_km       int64
count_public_school_high_km                   int64
count_public_school_high_specialized_km       int64
count_public_school_mid_km                    int64
count_public_school_special_ed_km             int64
count_public_school_ye_km                     int64
distance_cap_gain_school_km                   float64
distance_grocery_km                           float64
distance_ind_school_km                        float64
distance_metro_bus_km                         float64
distance_metro_station_km                     float64
distance_public_school_arts_center_km         float64
distance_public_school_edu_campus_km          float64
distance_public_school_elem_km                float64
distance_public_school_elem_specialized_km    float64
distance_public_school_high_km                float64
distance_public_school_high_specialized_km    float64
distance_public_school_mid_km                 float64
distance_public_school_special_ed_km          float64
distance_public_school_ye_km                  float64
CloseDate_dt                                  datetime64[ns]
CloseDate_dt_year                             int64
CloseDate_dt_month                            int64
CloseDate_dt_day                              int64
ListDate_dt                                   datetime64[ns]
ListDate_dt_year                              int64
ListDate_dt_month                             int64
ListDate_dt_day                               int64
CloseDate_all                                 int64
ListDate_all                                  int64
dtypes: datetime64[ns](2), float64(64), int64(37), object(25)
memory usage: 26.3+ MB

## Remove instances with missing features

In [13]:
# Set max number of rows to see full printout
pd.set_option('display.max_rows',110)
# Check for missing values
df_3.isnull().sum()

field1                                           0
Stat                                             0
ML#                                              0
Address                                          0
ListPrice2                                       0
ClosePrice2                                      0
Bedrooms                                         0
BathsFull                                        0
BathsHalf                                        0
Levels                                           0
Fireplaces                                       0
BasementY/N                                      0
Acres                                            0
YearBuilt                                        0
DOMP                                             0
TotalTaxes2                                   2687
TaxTotalLivingArea                            4617
Zip                                              0
SaleCount                                        0
IndexMonth                                       0
IndexMonth_CloseDate                             0
IndexMonth2                                      0
IndexMonth_ListDate                              0
IndexYear_CloseDate                              0
IndexYear_ListDate                               0
IndexMonth_No_CloseDate                          0
IndexMonth_No_ListDate                           0
MedianValuePerSqft                              23
PctOfHomesDecreasingInValues                    23
PctOfHomesIncreasingInValues                    23
Turnover                                        10
Zhvi                                            23
PriceIndex                                       0
FreddieMac15yr                                   0
FreddieMac5yrARM                                 0
mimi                                             0
mimiStatus                                       0
PropertyCrimes                                   0
ViolentCrimes                                    0
Pct16andOverEmployed_2010_14                     0
AvgFamilyIncAdj_2010_14                          0
Pct25andOverWoutHS_2010_14                       0
PctFamiliesOwnChildrenFH_2010_14                23
PctForeignBorn_2010_14                           0
PctHshldCar_2010_14                              0
PctHshldPhone_2010_14                            0
PctOwnerOccupiedHsgUnits_2010_14                 0
PctPoorChildren_2010_14                         23
PctPoorElderly_2010_14                           0
PctPoorPersons_2010_14                           0
PctUnemployed_2010_14                            0
PctVacantHsgUnitsForRent_2010_14                 0
PropertyLatitude                                 0
PropertyLongitude                                0
ES_AvgStandardScore                            773
                                              ...
HS_NumStudents                                4140
HS_PerTwoOrMoreRaces                          7853
HS_Rank                                       4140
HS_SDStarRating                               4140
HS_StudentTeachRatio                          4140
MS_AvgStandardScore                           6717
MS_IsCharter                                  6717
MS_IsMagnet                                   6717
MS_IsTitleI                                   6717
MS_IsTitleI.1                                 6717
MS_IsVirtual                                  6717
MS_NumFTTeachers                              6950
MS_NumStudents                                6717
MS_PerTwoOrMoreRaces                          9798
MS_Rank                                       6717
MS_SDStarRating                               6717
MS_StudentTeachRatio                          6950
count_cap_gain_school_km                         0
count_grocery_km                                 0
count_ind_school_km                              0
count_metro_bus_km                               0
count_metro_station_km                           0
count_public_school_arts_center_km               0
count_public_school_edu_campus_km                0
count_public_school_elem_km                      0
count_public_school_elem_specialized_km          0
count_public_school_high_km                      0
count_public_school_high_specialized_km          0
count_public_school_mid_km                       0
count_public_school_special_ed_km                0
count_public_school_ye_km                        0
distance_cap_gain_school_km                      0
distance_grocery_km                              0
distance_ind_school_km                           0
distance_metro_bus_km                            0
distance_metro_station_km                        0
distance_public_school_arts_center_km            0
distance_public_school_edu_campus_km             0
distance_public_school_elem_km                   0
distance_public_school_elem_specialized_km       0
distance_public_school_high_km                   0
distance_public_school_high_specialized_km       0
distance_public_school_mid_km                    0
distance_public_school_special_ed_km             0
distance_public_school_ye_km                     0
CloseDate_dt                                     0
CloseDate_dt_year                                0
CloseDate_dt_month                               0
CloseDate_dt_day                                 0
ListDate_dt                                      0
ListDate_dt_year                                 0
ListDate_dt_month                                0
ListDate_dt_day                                  0
CloseDate_all                                    0
ListDate_all                                     0
dtype: int64

In [14]:
# Drop empty/nan data
df_4 = df_3.dropna(axis=0, how='any')

In [15]:
df_4.isnull().sum()

field1                                        0
Stat                                          0
ML#                                           0
Address                                       0
ListPrice2                                    0
ClosePrice2                                   0
Bedrooms                                      0
BathsFull                                     0
BathsHalf                                     0
Levels                                        0
Fireplaces                                    0
BasementY/N                                   0
Acres                                         0
YearBuilt                                     0
DOMP                                          0
TotalTaxes2                                   0
TaxTotalLivingArea                            0
Zip                                           0
SaleCount                                     0
IndexMonth                                    0
IndexMonth_CloseDate                          0
IndexMonth2                                   0
IndexMonth_ListDate                           0
IndexYear_CloseDate                           0
IndexYear_ListDate                            0
IndexMonth_No_CloseDate                       0
IndexMonth_No_ListDate                        0
MedianValuePerSqft                            0
PctOfHomesDecreasingInValues                  0
PctOfHomesIncreasingInValues                  0
Turnover                                      0
Zhvi                                          0
PriceIndex                                    0
FreddieMac15yr                                0
FreddieMac5yrARM                              0
mimi                                          0
mimiStatus                                    0
PropertyCrimes                                0
ViolentCrimes                                 0
Pct16andOverEmployed_2010_14                  0
AvgFamilyIncAdj_2010_14                       0
Pct25andOverWoutHS_2010_14                    0
PctFamiliesOwnChildrenFH_2010_14              0
PctForeignBorn_2010_14                        0
PctHshldCar_2010_14                           0
PctHshldPhone_2010_14                         0
PctOwnerOccupiedHsgUnits_2010_14              0
PctPoorChildren_2010_14                       0
PctPoorElderly_2010_14                        0
PctPoorPersons_2010_14                        0
PctUnemployed_2010_14                         0
PctVacantHsgUnitsForRent_2010_14              0
PropertyLatitude                              0
PropertyLongitude                             0
ES_AvgStandardScore                           0
                                             ..
HS_NumStudents                                0
HS_PerTwoOrMoreRaces                          0
HS_Rank                                       0
HS_SDStarRating                               0
HS_StudentTeachRatio                          0
MS_AvgStandardScore                           0
MS_IsCharter                                  0
MS_IsMagnet                                   0
MS_IsTitleI                                   0
MS_IsTitleI.1                                 0
MS_IsVirtual                                  0
MS_NumFTTeachers                              0
MS_NumStudents                                0
MS_PerTwoOrMoreRaces                          0
MS_Rank                                       0
MS_SDStarRating                               0
MS_StudentTeachRatio                          0
count_cap_gain_school_km                      0
count_grocery_km                              0
count_ind_school_km                           0
count_metro_bus_km                            0
count_metro_station_km                        0
count_public_school_arts_center_km            0
count_public_school_edu_campus_km             0
count_public_school_elem_km                   0
count_public_school_elem_specialized_km       0
count_public_school_high_km                   0
count_public_school_high_specialized_km       0
count_public_school_mid_km                    0
count_public_school_special_ed_km             0
count_public_school_ye_km                     0
distance_cap_gain_school_km                   0
distance_grocery_km                           0
distance_ind_school_km                        0
distance_metro_bus_km                         0
distance_metro_station_km                     0
distance_public_school_arts_center_km         0
distance_public_school_edu_campus_km          0
distance_public_school_elem_km                0
distance_public_school_elem_specialized_km    0
distance_public_school_high_km                0
distance_public_school_high_specialized_km    0
distance_public_school_mid_km                 0
distance_public_school_special_ed_km          0
distance_public_school_ye_km                  0
CloseDate_dt                                  0
CloseDate_dt_year                             0
CloseDate_dt_month                            0
CloseDate_dt_day                              0
ListDate_dt                                   0
ListDate_dt_year                              0
ListDate_dt_month                             0
ListDate_dt_day                               0
CloseDate_all                                 0
ListDate_all                                  0
dtype: int64

## Label Encoding

In [16]:
#List features which are not integer or floats 
non_numerics = [x for x in df_4.columns \
                if not (df_4[x].dtype == np.float64 \
                        or df_4[x].dtype == np.int64)]
print(non_numerics)

['Stat', 'ML#', 'Address', 'BasementY/N', 'TaxTotalLivingArea', 'IndexMonth', 'IndexMonth_CloseDate', 'IndexMonth2', 'IndexMonth_ListDate', 'mimiStatus', 'ES_IsCharter', 'ES_IsMagnet', 'ES_IsTitleI', 'ES_IsTitleI.1', 'ES_IsVirtual', 'HS_IsCharter', 'HS_IsMagnet', 'HS_IsTitleI', 'HS_IsTitleI.1', 'HS_IsVirtual', 'MS_IsCharter', 'MS_IsMagnet', 'MS_IsTitleI', 'MS_IsTitleI.1', 'MS_IsVirtual', 'CloseDate_dt', 'ListDate_dt']

In [17]:
# Remove "," from column data
df_2['TaxTotalLivingArea'] = df_2['TaxTotalLivingArea'].str.replace(',','')
# Convert column to numeric
df_2['TaxTotalLivingArea'] = pd.to_numeric(df_2['TaxTotalLivingArea'])

In [18]:
from sklearn.base import BaseEstimator, TransformerMixin 
from sklearn.preprocessing import LabelEncoder

CATEGORICAL = ['ES_IsCharter', 'ML#','TaxTotalLivingArea','mimiStatus','BasementY/N','ES_IsMagnet', 'ES_IsTitleI', 'ES_IsTitleI.1', 'ES_IsVirtual', 'HS_IsCharter', 'HS_IsMagnet', 'HS_IsTitleI', 'HS_IsTitleI.1', 'HS_IsVirtual', 'MS_IsCharter', 'MS_IsMagnet', 'MS_IsTitleI', 'MS_IsTitleI.1', 'MS_IsVirtual']
for col in ['ES_IsCharter', 'ML#', 'TaxTotalLivingArea','mimiStatus','BasementY/N','ES_IsMagnet', 'ES_IsTitleI', 'ES_IsTitleI.1', 'ES_IsVirtual', 'HS_IsCharter', 'HS_IsMagnet', 'HS_IsTitleI', 'HS_IsTitleI.1', 'HS_IsVirtual', 'MS_IsCharter', 'MS_IsMagnet', 'MS_IsTitleI', 'MS_IsTitleI.1', 'MS_IsVirtual']:
      df_4[col] = df_4[col].apply(str)

class EncodeCategorical(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns=None):
        self.columns = list(columns) if columns is not None else None
        self.encoders = None 
    
    def fit(self, DFM_2, target=None):
        if self.columns is None:
            self.columns = list(df_4.columns)
        
        self.encoders = {
            column: LabelEncoder().fit(DFM_2[column])
            for column in self.columns
        }
        
        return self
    
    def transform(self, df_4):
        dF_4 = df_4.copy()
        
        for column, encoder in self.encoders.items():
            df_4[column] = encoder.transform(df_4[column])
        
        return df_4

df_4=EncodeCategorical(CATEGORICAL).fit_transform(df_4)
df_4.info()

C:\Users\Sabelgk\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Sabelgk\Anaconda3\lib\site-packages\ipykernel\__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11361 entries, 13 to 51690
Columns: 128 entries, field1 to ListDate_all
dtypes: datetime64[ns](2), float64(64), int64(56), object(6)
memory usage: 11.2+ MB

## Remove features not used for analysis and modeling

In [19]:
# Dropping specific columns since they are not needed for present analysis/performing cleanup.
df_4 = df_4.drop(u'field1', axis = 1)
df_4 = df_4.drop(u'Stat', axis = 1)
df_4 = df_4.drop(u'Address', axis = 1)
df_4 = df_4.drop(u'IndexMonth', axis = 1)
df_4 = df_4.drop(u'IndexMonth_CloseDate', axis = 1)
df_4 = df_4.drop(u'IndexMonth2', axis = 1)
df_4 = df_4.drop(u'IndexMonth_ListDate', axis = 1)
df_4 = df_4.drop(u'IndexYear_CloseDate', axis = 1)
df_4 = df_4.drop(u'IndexYear_ListDate', axis = 1)
df_4 = df_4.drop(u'IndexMonth_No_CloseDate', axis = 1)
df_4 = df_4.drop(u'IndexMonth_No_ListDate', axis = 1)

In [20]:
df_4.head()

,ML#,ListPrice2,ClosePrice2,Bedrooms,BathsFull,BathsHalf,Levels,Fireplaces,BasementY/N,Acres,...,CloseDate_dt,CloseDate_dt_year,CloseDate_dt_month,CloseDate_dt_day,ListDate_dt,ListDate_dt_year,ListDate_dt_month,ListDate_dt_day,CloseDate_all,ListDate_all
13,3396,255000,250000,2,2,1.0,2,1,0,0.0,...,2012-07-11,2012,7,11,2012-05-31,2012,5,31,2012711,2012531
20,8266,299900,299900,1,1,0.0,1,0,0,0.0,...,2014-02-27,2014,2,27,2014-02-15,2014,2,15,2014227,2014215
43,8264,245000,252000,1,1,0.0,1,0,0,0.0,...,2014-01-24,2014,1,24,2014-01-08,2014,1,8,2014124,2014108
60,10276,250000,275000,1,1,0.0,1,0,0,0.0,...,2014-08-07,2014,8,7,2014-08-02,2014,8,2,2014807,2014802
74,8706,254000,254000,1,1,0.0,1,0,0,0.0,...,2014-03-21,2014,3,21,2014-03-13,2014,3,13,2014321,2014313

In [21]:
df_4.describe()

,ML#,ListPrice2,ClosePrice2,Bedrooms,BathsFull,BathsHalf,Levels,Fireplaces,BasementY/N,Acres,...,distance_public_school_special_ed_km,distance_public_school_ye_km,CloseDate_dt_year,CloseDate_dt_month,CloseDate_dt_day,ListDate_dt_year,ListDate_dt_month,ListDate_dt_day,CloseDate_all,ListDate_all
count,11361.000000,1.136100e+04,1.136100e+04,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,...,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,1.136100e+04,1.136100e+04
mean,5680.000000,6.416818e+05,6.319397e+05,2.730305,1.966816,0.470821,2.367749,0.611478,0.521785,0.052191,...,7.976987,2.882881,2012.734618,6.902473,17.987853,2012.634275,6.664026,16.059150,2.013443e+06,2.013317e+06
std,3279.782539,6.618295e+05,6.202519e+05,1.442552,1.033271,0.592246,1.231180,0.946224,0.499547,0.083119,...,3.087773,1.589246,1.059866,3.181675,9.334079,1.086222,3.117457,8.767609,1.079413e+03,1.114732e+03
min,0.000000,1.490000e+04,1.600000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.091828,0.035250,2011.000000,1.000000,1.000000,2011.000000,1.000000,1.000000,2.011110e+06,2.011101e+06
25%,2840.000000,2.999000e+05,2.990000e+05,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,5.899289,1.527059,2012.000000,4.000000,10.000000,2012.000000,4.000000,9.000000,2.012531e+06,2.012410e+06
50%,5680.000000,4.790000e+05,4.750000e+05,3.000000,2.000000,0.000000,3.000000,0.000000,1.000000,0.034000,...,7.971713,2.622855,2013.000000,7.000000,19.000000,2013.000000,7.000000,16.000000,2.013522e+06,2.013417e+06
75%,8520.000000,7.890000e+05,7.880000e+05,4.000000,3.000000,1.000000,3.000000,1.000000,1.000000,0.073000,...,10.548431,4.238745,2014.000000,10.000000,27.000000,2014.000000,9.000000,24.000000,2.014328e+06,2.014222e+06
max,11360.000000,2.590000e+07,2.200000e+07,12.000000,11.000000,5.000000,16.000000,14.000000,1.000000,3.579000,...,14.180145,7.332171,2014.000000,12.000000,31.000000,2014.000000,12.000000,31.000000,2.015231e+06,2.015231e+06

In [22]:
df_4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11361 entries, 13 to 51690
Data columns (total 117 columns):
ML#                                           int64
ListPrice2                                    int64
ClosePrice2                                   int64
Bedrooms                                      int64
BathsFull                                     int64
BathsHalf                                     float64
Levels                                        int64
Fireplaces                                    int64
BasementY/N                                   int64
Acres                                         float64
YearBuilt                                     int64
DOMP                                          int64
TotalTaxes2                                   float64
TaxTotalLivingArea                            int64
Zip                                           int64
SaleCount                                     int64
MedianValuePerSqft                            float64
PctOfHomesDecreasingInValues                  float64
PctOfHomesIncreasingInValues                  float64
Turnover                                      float64
Zhvi                                          float64
PriceIndex                                    float64
FreddieMac15yr                                float64
FreddieMac5yrARM                              float64
mimi                                          float64
mimiStatus                                    int64
PropertyCrimes                                float64
ViolentCrimes                                 float64
Pct16andOverEmployed_2010_14                  float64
AvgFamilyIncAdj_2010_14                       float64
Pct25andOverWoutHS_2010_14                    float64
PctFamiliesOwnChildrenFH_2010_14              float64
PctForeignBorn_2010_14                        float64
PctHshldCar_2010_14                           float64
PctHshldPhone_2010_14                         float64
PctOwnerOccupiedHsgUnits_2010_14              float64
PctPoorChildren_2010_14                       float64
PctPoorElderly_2010_14                        float64
PctPoorPersons_2010_14                        float64
PctUnemployed_2010_14                         float64
PctVacantHsgUnitsForRent_2010_14              float64
PropertyLatitude                              float64
PropertyLongitude                             float64
ES_AvgStandardScore                           float64
ES_IsCharter                                  int64
ES_IsMagnet                                   int64
ES_IsTitleI                                   int64
ES_IsTitleI.1                                 int64
ES_IsVirtual                                  int64
ES_NumFTTeachers                              float64
ES_NumStudents                                float64
ES_PerTwoOrMoreRaces                          float64
ES_Rank                                       float64
ES_SDStarRating                               float64
ES_StudentTeachRatio                          float64
HS_AvgStandardScore                           float64
HS_IsCharter                                  int64
HS_IsMagnet                                   int64
HS_IsTitleI                                   int64
HS_IsTitleI.1                                 int64
HS_IsVirtual                                  int64
HS_NumFTTeachers                              float64
HS_NumStudents                                float64
HS_PerTwoOrMoreRaces                          float64
HS_Rank                                       float64
HS_SDStarRating                               float64
HS_StudentTeachRatio                          float64
MS_AvgStandardScore                           float64
MS_IsCharter                                  int64
MS_IsMagnet                                   int64
MS_IsTitleI                                   int64
MS_IsTitleI.1                                 int64
MS_IsVirtual                                  int64
MS_NumFTTeachers                              float64
MS_NumStudents                                float64
MS_PerTwoOrMoreRaces                          float64
MS_Rank                                       float64
MS_SDStarRating                               float64
MS_StudentTeachRatio                          float64
count_cap_gain_school_km                      int64
count_grocery_km                              int64
count_ind_school_km                           int64
count_metro_bus_km                            int64
count_metro_station_km                        int64
count_public_school_arts_center_km            int64
count_public_school_edu_campus_km             int64
count_public_school_elem_km                   int64
count_public_school_elem_specialized_km       int64
count_public_school_high_km                   int64
count_public_school_high_specialized_km       int64
count_public_school_mid_km                    int64
count_public_school_special_ed_km             int64
count_public_school_ye_km                     int64
distance_cap_gain_school_km                   float64
distance_grocery_km                           float64
distance_ind_school_km                        float64
distance_metro_bus_km                         float64
distance_metro_station_km                     float64
distance_public_school_arts_center_km         float64
distance_public_school_edu_campus_km          float64
distance_public_school_elem_km                float64
distance_public_school_elem_specialized_km    float64
distance_public_school_high_km                float64
distance_public_school_high_specialized_km    float64
distance_public_school_mid_km                 float64
distance_public_school_special_ed_km          float64
distance_public_school_ye_km                  float64
CloseDate_dt                                  datetime64[ns]
CloseDate_dt_year                             int64
CloseDate_dt_month                            int64
CloseDate_dt_day                              int64
ListDate_dt                                   datetime64[ns]
ListDate_dt_year                              int64
ListDate_dt_month                             int64
ListDate_dt_day                               int64
CloseDate_all                                 int64
ListDate_all                                  int64
dtypes: datetime64[ns](2), float64(64), int64(51)
memory usage: 10.2 MB

In [23]:
# Export dataframe to csv to create save point
df_4.to_csv('df_4.csv')

### Analysis/Visualization continued in EDA script